body{
    margin: 0;
}
.header-container{
    width: 100%;
    height: 11%;
    background-color: rgb(240, 243, 245);
}
.user-head{
    height: 20px;
    background-color: rgb(77, 75, 75);
}
.user-head div a{
    margin-left: 10px;
    color:#d5d5d5;
}
/* .search-head{
    height: 40px;
    width: 1200px;
    margin: 0px 300px;
    padding: 18px 20px;
} */
.item-container {
    width: 100%;
    height: 40%;
    /* border: 1px solid #000000; */
    margin: 30px 30% 30px 22%;
    padding: 30px 20px;
    box-shadow: 3px 3px 2px #a08f8f96;
    background-color: #e1f7e8;
}
.item {
    float: left;
    /* border: 1px solid #000000; */
    width: 60%;
    height: 80%;
    /* background-color: #32494520; */
    border-radius: 15px;
    margin-left: 20px;
    padding: 10px;
}

.attribute{
    margin: 6px 10px;
    width: 100%;
}
.value{
    font-size: 14px;
}
#poster {
    height: 80%;
    width: auto;
    float: left;
    /* margin-left: 10%; */
}
#feedback-area {
    height: 10%;
    width: 25%;
    /* border: 1px solid #000000; */
    text-align: center;
    margin-left: 15px;
    /*background-color: white;*/
    margin-top: 5px;
    clear: left;
    border-radius: 5px;
}


#like-btn{
    background: url("../images/like1.png") no-repeat 0px 0px;
    height: 30px;
    width: 30px;

    background-size: contain;
    border: none;
    outline: none;
    margin: 5px 15px;
}
#dislike-btn{
    background: url("../images/disLike1.png") no-repeat 0px 0px;
    height: 30px;
    width: 30px;

    background-size: contain;
    border: none;
    outline: none;
    margin:5px 15px;
}
#add-btn{
    background: url("../images/add1.png") no-repeat 0px 0px;
    height: 30px;
    width: 30px;

    background-size: contain;
    border: none;
    outline: none;
    margin:5px 15px;
}

.not-found{
    position: absolute;
    height: 10%;
    width: 20%;
    top: 30px;
    left: 600px;
    text-align: center;
}
a{
    text-decoration-line: none;
}
#recommend-area {
    border-radius: 10px;
     background-color: rgb(200, 222, 236);
    height: 26%;
    width: 102%;
    margin: 7% 30% 28px 22%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 10px #ddd1d1;
}

.film-container {
    width: 105px;
    height: 154px;
    /* background-color: #cbdd99; */
    float: left;
    margin: 13px 30px 80px;
    text-align: center;
}

.film-container div{
    text-align: center;
}
.film-container div a{
    color: rgb(51, 119, 170);
    text-decoration-line: none;
    font-size: 14px;
}
.film-container div .rating{
    color: rgb(224, 144, 21);
    font-size: 14px;
}

#right-area {
    padding: 10px;
    height: 78%;
    width: 30%;
    float: right;
    margin: 2% 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ddd1d1;
    background-color: lightyellow;
}
