body{
     background-image: url('../images/login_background.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

#login-box{
    width: 32%;
    height: 28%;
    margin: 0 auto;
    margin-top:15%;
    text-align: center ;
    background-color: #00000080;
    border-radius: 15px;
    padding: 12px 50px ;
}

#login-box .form{
    margin-top: 25px;
}

#login-box .form .item{
    margin-top:20px;
}

#login-box .form .item input{
    border:none;
    outline: none;
    width: 250px;
    border-bottom: 2px solid #ffffff;
    padding:5px 10px;
    background-color: #ffffff00;
    color:#ffffff;
    font-size: 15px;
}

#login-box .form #login-button{
    border:0;
    height: 35px;
    width: 200px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 6px;
    background-image: linear-gradient(to right,#e081c9, #cbdd99);
}
a{
    text-decoration-line: none;
}
.login-success-status{
    letter-spacing: 3px;
    color: #62a8ea;
}
.login-fail-status{
    letter-spacing: 3px;
    color: crimson;
    margin-top:3px;
}
/*#click-button{*/
/*    border:0;*/
/*    height: 35px;*/
/*    width: 200px;*/
/*    border-radius: 6px;*/
/*    background-image: linear-gradient(to right,#218373, #6d317c);*/
/*    font-size: 15px;*/
/*    color: #ffffff;*/
/*}*/
.btn-container{
    height: 36px;
    width: 200px;
    margin-left: 170px;
    float: left;
}
input::-webkit-input-placeholder{
    color: rgb(206, 206, 206);
}