<html xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/film.css}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script th:inline="javascript" >
         user = [[${user}]];
         films=[[${films}]];
         filmId = films[0].filmId;
         function like_click() {
             const interaction = {username: user, filmId: filmId, interested: 1};
             if (user == null) alert("您还没有登录");
            else {
                $.ajax({
                    type: 'POST',
                    data:JSON.stringify(interaction),
                    contentType: 'application/json',
                    dataType: 'json',
                    url: filmId,
                    success:function (response) { // 等待response
                        alert(response.msg);
                        if(response.valid==="true"){
                            const img = "../images/like2.png";
                            document.getElementById("like-btn").style.backgroundImage="url("+img+")";
                        }
                    }
                });
            }
        }
        function notLike_click() {
            const interaction = {username: user, filmId: filmId, interested: 0};
            if (user == null) alert("您还没有登录");
            else {
                $.ajax({
                    type: 'POST',
                    data:JSON.stringify(interaction),
                    contentType: 'application/json',
                    dataType: 'json',
                    url: filmId,
                    success:function (response) { // 等待response
                        alert(response.msg);
                        if(response.valid==="true"){
                            const img = "../images/disLike2.png";
                            document.getElementById("dislike-btn").style.backgroundImage="url("+img+")";
                        }
                    }
                });
            }
        }
        function add() {
            const interaction = {username: user, filmId: filmId, interested: 2};
            if (user == null) alert("您还没有登录");
            else {
                $.ajax({
                    type: 'POST',
                    data:JSON.stringify(interaction),
                    contentType: 'application/json',
                    dataType: 'json',
                    url: filmId,
                    success:function (response) { // 等待response
                        alert(response.msg);
                        if(response.valid==="true"){
                            const img = "../images/add2.png";
                            document.getElementById("add-btn").style.backgroundImage="url("+img+")";
                        }
                    }
                });
            }
        }

        // 以下代码借鉴 https://blog.csdn.net/xiongqiangwin1314/article/details/47864653?utm_medium=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-2.edu_weight&depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-2.edu_weight

         function setBodyWidth(){
             var barWidthHelper=document.createElement('div');
             barWidthHelper.style.cssText="overflow:scroll; width:100px; height:100px;";
             document.body.appendChild(barWidthHelper);
             var barWidth=barWidthHelper.offsetWidth-barWidthHelper.clientWidth;
             document.body.removeChild(barWidthHelper);
             var bodyWidth=window.screen.availWidth-barWidth;
             return bodyWidth;
         }

         $(document).ready(
             function(){
                 var bodyWidth=setBodyWidth()+"px";
                 //document.body.style.width=bodyWidth;
                 $("body").css("width",bodyWidth);
             }
         );

         // 以上代码借鉴 https://blog.csdn.net/xiongqiangwin1314/article/details/47864653?utm_medium=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-2.edu_weight&depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-2.edu_weight

    </script>
</head>

<body>

    <div class="header-container">
        <div class="user-head">
            <div style="text-align: left;font-size: small;color: #d5d5d5;padding: 0px 20px;float: left;">
                <a th:href="@{/login/register_page}">注册</a>
                <a th:href="@{/login/login_page}">登录</a>
                <a th:href="@{/main/exit}" th:if="${session.user!=null}">退出账号</a>
                <a th:href="@{/main/}">返回主页</a>
                <a th:href="@{'/users/'+${session.user}}" th:if="${session.user!=null}">我的账号</a>
            </div>
            <div  style="text-align: right;font-size: small;color: #d5d5d5;padding: 0px 20px;">
                <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp<span th:text="${session.user}">username</span>
            </div>
        </div>

    </div>

    <hr>

    <div class="not-found" th:if="${films!=null and #lists.isEmpty(films)}">
        <h2>Not found.</h2>
    </div>


    <div id="left-area" style="height: 100% ;width: 50%;float: left">
        <div class="item-container" th:href="${films!=null and #lists.size(films)>0}">

            <div>
                <img th:src="@{${films[0].poster}}" id="poster">
            </div>

            <div class="item">

                <div class="attribute" style="text-align: center">
                    <!--                    <label><b>Title:</b></label> <span>&nbsp</span>-->
                    <b><span class="value" th:text="${films[0].title}" style="font-size: 25px"></span></b>
                    <span>

                    </span>
                </div>

                <div class="attribute" th:if="${films[0].releaseDate!=null}">
                    <label><b>发行日期:</b></label> <span>&nbsp</span>
                    <span class="value" th:text="${films[0].releaseDate}"></span>
                </div>


                <div class="attribute" th:if="${films[0].genres!=null}">
                    <label><b>类型:</b></label> <span>&nbsp</span>
                    <span class="value" th:text="${films[0].genres}"></span>
                </div>

                <div class="attribute" th:if="${films[0].area!=null}">
                    <label><b>地区:</b></label> <span>&nbsp</span>
                    <span class="value" th:text="${films[0].area}"></span>
                </div>

                <div class="attribute" th:if="${films[0].rating!=null and films[0].rating>0}">
                    <label><b>评分:</b></label> <span>&nbsp</span>
                    <span class="value" th:text="${films[0].rating}" ></span>
                </div>

                <div class="attribute" th:if="${actorNames!=null}">
                    <label><b>演员:</b></label><span>&nbsp</span>
                    <span class="value" th:text="${actorNames}"></span>
                </div>


                <div class="attribute" th:if="${films[0].description!=null}">
                    <label><b>简介:</b></label> <br><span>&nbsp;</span>
                    <span class="value" th:text="${films[0].description}"></span>
                </div>

            </div>

            <div id="feedback-area">
                <!--        <form method="POST">-->
                <button type="button" id="like-btn" value="" name="like" title="喜欢" onclick="like_click()"></button>
                <button type="button" id="dislike-btn" value="" name="dislike" title="不喜欢" onclick="notLike_click()"></button>
                <button type="button" id="add-btn" value="" name="add" title="收藏" onclick="add()"></button>
                <!--        </form>-->
            </div>

        </div>





        <div id="recommend-area">
            <span>您可能喜欢</span>
            <hr>
            <div th:if="${similarFilms!=null}">
                <div th:each="film: ${similarFilms}">
                    <div class="film-container" >
                        <img th:src="@{${film.poster}}" style="height: 100%;width: 100%;">
                        <div>
                            <a class="film-title" th:href="@{'/film/'+${film.filmId}}" th:text="${film.title}"></a>
                            <span class="rating" th:if="${film.rating!=null and film.rating>0}" th:text="${film.rating}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center" th:if="${similarFilms==null}">
                <h3>暂无</h3>
            </div>
        </div>

    </div>



    <div id="right-area">
        <span>相关作品</span>
        <hr>
        <div th:if="${relativeFilms!=null}">
            <div th:each="film: ${relativeFilms}">
                <div class="film-container" >
                    <img th:src="@{${film.poster}}" style="height: 100%;width: 100%;">
                    <div>
                        <a class="film-title" th:href="@{'/film/'+${film.filmId}}" th:text="${film.title}"></a>
                        <span class="rating" th:if="${film.rating!=null and film.rating>0}" th:text="${film.rating}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center" th:if="${relativeFilms==null}">
            <h3>暂无</h3>
        </div>
    </div>

</body>

</html>