
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>登录界面</title>
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">

</head>

<body>

    <div id="login-box">
        <h1 style="color: #ffffff;">登录</h1>
        <form class="form" method="post">
            
                <div class="item" th:unless="${users!=null and #lists.size(users)>0}">
                    <i class="fa fa-user-circle" style="color: #ffffff;"></i>
                    <input type="text" name="username" placeholder="Username" style="color: #ffffff;"><br>
                </div>
                <div class="item"th:unless="${users!=null and #lists.size(users)>0}">
                    <i class="fa fa-key" aria-hidden="true" style="color: #ffffff;"></i>
                    <input type="password" name="password" class="password" placeholder="Password"><br>
                </div>
                <br>
                <br>
                <div th:unless="${users!=null and #lists.size(users)>0}">
                    <input id="login-button" type="submit" value="登录" >
                </div>

                <div  th:if="${users!=null}">
                    <div  th:if="${#lists.isEmpty(users)}">
                        <div class="login-fail-status" >
                            <span >用户名不存在或密码错误</span>
                        </div>
                    </div>
                    <div  th:if="${#lists.size(users)>0}">
                        <div th:each="user : ${users}">
                            <div class="login-success-status">
                                <span th:text="'登录成功，欢迎您 '+${user.username}"></span>
                            </div>
                        </div>
                        <br/><br/><br/>
                        <a th:href="@{'/users/'+${users[0].username}}">
                            点击进入
                        </a>
                    </div>

            </div>
        </form>
        
    </div>


</body>
</html>
