<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script>
        function show_more() {
            document.getElementById("result-container").style.overflow="visible";
            document.getElementById("more-btn").style.visibility="hidden";
        }

    </script>
</head>

<body>

    <div class="header-container">
        <div class="user-head">
            <div style="text-align: right;font-size: small;color: #d5d5d5;padding:0 20px ;float: left" class="user-head-msg">
                <a th:href="@{/login/register_page}">注册</a>
                <a th:href="@{/login/login_page}">登录</a>
                <a th:href="@{/main}">返回主页</a>
                <a th:href="@{/main/exit}" th:if="${session.user!=null}">退出账号</a>
                <a th:href="@{'/users/'+${session.user}}" th:if="${session.user!=null}">我的账号</a>
            </div>

            <img id="neko" th:src="@{/images/neko.png}" >

            <div  style="text-align: right;font-size: small;color: #d5d5d5;padding:0 20px ;" class="user-head-msg">
                <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp<span th:text="${session.user}">username</span>
            </div>
        </div>
        <div class="search-head">
            <i class="fa fa-film" aria-hidden="true" style="font-size: 50px;float: left;"></i>
            <form  method="POST" style="float: left;">
                <input type="text" id="search" name="search" placeholder="搜索电影、电视剧、综艺等">
                <input type="submit" value="">
            </form>
        </div>
    </div>

    <div class="tags-container">
        <span><b>更多分类</b></span>
        <hr>

        <div >
            <div>
                <span>&nbsp&nbsp&nbsp</span><span><b>地区:</b></span>
            </div>

            <div>
                <a th:href="@{/film/areas/中国}">国产</a><span>&nbsp</span>
            </div>

            <div>
                <a th:href="@{/film/areas/美国}">美剧</a><span>&nbsp</span>
            </div>

            <div>
                <a th:href="@{/film/areas/英国}">英剧</a><span>&nbsp</span>
            </div>

            <div>
                <a th:href="@{/film/areas/日本}">日剧</a><span>&nbsp</span>
            </div>

            <div>
                <a th:href="@{/film/areas/韩国}">韩剧</a><span>&nbsp</span>
            </div>

            <div>
                <a th:href="@{/film/areas/香港}">港剧</a><span>&nbsp</span>
            </div>

        </div>



        <div>
            <div>
                <span>&nbsp&nbsp&nbsp</span><span><b>类型:</b></span>
            </div>

            <div>
                <a th:href="@{/film/types/animation}">动漫</a><span>&nbsp</span>
            </div>

            <div>
                <a th:href="@{/film/types/variety}">综艺</a><span>&nbsp</span>
            </div>

            <div>
                <a th:href="@{/film/types/documentary}">纪录片</a><span>&nbsp</span>
            </div>
        </div>

        <div>
            <div>
                <span>&nbsp&nbsp&nbsp</span><span><b>标签:</b></span>
            </div>

            <div>
                <a th:href="@{/film/tags/恐怖}">恐怖</a>
            </div>

            <div>
                <a th:href="@{/film/tags/悬疑}">悬疑</a>
            </div>

            <div>
                <a th:href="@{/film/tags/犯罪}">犯罪</a>
            </div>

            <div>
                <a th:href="@{/film/tags/动作}">动作</a>
            </div>

            <div>
                <a th:href="@{/film/tags/喜剧}">喜剧</a>
            </div>

            <div>
                <a th:href="@{/film/tags/爱情}">爱情</a>
            </div>

            <div>
                <a th:href="@{/film/tags/鬼怪}">鬼怪</a>
            </div>

            <div>
                <a th:href="@{/film/tags/灾难}">灾难</a>
            </div>

            <div>
                <a th:href="@{/film/tags/短片}">短片</a>
            </div>

            <div>
                <a th:href="@{/film/tags/运动}">运动</a>
            </div>

            <div>
                <a th:href="@{/film/tags/武侠}">武侠</a>
            </div>

            <div>
                <a th:href="@{/film/tags/古装}">古装</a>
            </div>

            <div>
                <a th:href="@{/film/tags/历史}">历史</a>
            </div>

            <div>
                <a th:href="@{/film/tags/战争}">战争</a>
            </div>

            <div>
                <a th:href="@{/film/tags/家庭}">家庭</a>
            </div>

            <div>
                <a th:href="@{/film/tags/科幻}">科幻</a>
            </div>

            <div>
                <a th:href="@{/film/tags/奇幻}">奇幻</a>
            </div>

            <div>
                <a th:href="@{/film/tags/冒险}">冒险</a>
            </div>


            <div>
                <a th:href="@{/film/tags/舞台艺术}">舞台艺术</a>
            </div>

            <div>
                <a th:href="@{/film/tags/成人}">成人</a>
            </div>

            <div>
                <a th:href="@{/film/tags/戏曲}">戏曲</a>
            </div>

            <div>
                <a th:href="@{/film/tags/儿童}">儿童</a>
            </div>

            <div>
                <a th:href="@{/film/tags/同性}">同性</a>
            </div>

            <div>
                <a th:href="@{/film/tags/歌舞}">歌舞</a>
            </div>

            <div>
                <a th:href="@{/film/tags/音乐}">音乐</a>
            </div>

            <div>
                <a th:href="@{/film/tags/传记}">传记</a>
            </div>

            <div>
                <a th:href="@{/film/tags/黑色电影}">黑色电影</a>
            </div>

        </div>


    </div>

    <div class="hot-items-container" th:if="${movies!=null and result==null}">

        <span><b>近期热门电影</b></span>
        <hr >

        <div th:each="movie : ${movies}">
            <div class="film-container">
                <img th:src="@{${movie.poster}}" style="height:100%;width: 100%;">
                <div>
                    <i class="fa fa-fire" aria-hidden="true" style="color:rgb(100,190,80);" title="热门"></i> <a class="film-title" th:href="@{'/film/'+${movie.filmId}}" th:text="${movie.title}">HAMILTON</a>
                    <span class="rating" th:text="${movie.rating}">8.5</span>
                </div>
            </div>
        </div>
    </div>

    <div class="hot-items-container" th:if="${tvs!=null and result==null}">

        <span><b>近期热门电视剧</b></span>
        <hr >

        <div th:each="tv : ${tvs}">
            <div class="film-container">
                <img th:src="@{${tv.poster}}" style="height:100%;width: 100%;">
                <div>
                    <i class="fa fa-fire" aria-hidden="true" style="color:rgb(100,190,80);" title="热门"></i> <a class="film-title" th:href="@{'/film/'+${tv.filmId}}" th:text="${tv.title}">HAMILTON</a>
                    <span class="rating" th:text="${tv.rating}">8.5</span>
                </div>
            </div>
        </div>

    </div>

    <div class="hot-items-container" th:if="${result!=null}" id="result-container">

        <div th:if="${#lists.isEmpty(result)}" style="text-align: center">
            <br>
            <span><b>没有找到您想要的资源哦</b></span>
        </div>

        <div th:if="${#lists.size(result)>0}">
            <span><b>查询结果如下</b></span>
            <hr>
            <div th:each="film :${result}">
                <div class="film-container">
                    <img th:src="@{${film.poster}}" style="height:100%;width: 100%;">
                    <div>
                        <a class="film-title" th:href="@{'/film/'+${film.filmId}}" th:text="${film.title}"></a>
                        <span class="rating" th:if="${film.rating!=null and film.rating>0}" th:text="${film.rating}"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="more" th:if="${result!=null and #lists.size(result)>10 }">
        <a href="#"  id="more-btn" onclick="show_more()">查看全部</a>
    </div>

    <div class="recommend-area">
        <div style="background-color: rgb(242, 247, 246);height: 25px;padding:8px ;text-align: center">
            <span style="color: rgb(51,119,170);"><b>为您推荐</b></span>
        </div>
        <hr>

        <div th:if="${films==null}">
            <table>
                <tbody>
                <tr>
                    <td class="order">1</td>
                    <td class="title"><a>想哭的我戴上了猫的面具</a></td>
                </tr>
                <tr>
                    <td class="order">2</td>
                    <td class="title">想哭的我摘下了猫的面具</td>
                </tr>
                <tr>
                    <td class="order">3</td>
                    <td class="title"><a>想哭的我戴上了猫的面具</a></td>
                </tr>
                <tr>
                    <td class="order">4</td>
                    <td class="title">想哭的我摘下了猫的面具</td>
                </tr>
                <tr>
                    <td class="order">5</td>
                    <td class="title"><a>想哭的我戴上了猫的面具</a></td>
                </tr>
                <tr>
                    <td class="order">6</td>
                    <td class="title"><a>想哭的我摘下了猫的面具</a></td>
                </tr>
                <tr>
                    <td class="order">7</td>
                    <td class="title">想哭的我戴上了猫的面具</td>
                </tr>
                <tr>
                    <td class="order">8</td>
                    <td class="title"><a>想哭的我摘下了猫的面具</a></td>
                </tr>
                <tr>
                    <td class="order">9</td>
                    <td class="title">想哭的我戴上了猫的面具</td>
                </tr>
                <tr>
                    <td class="order">10</td>
                    <td class="title"><a>想哭的我摘下了猫的面具</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${films!=null}">
            <table>
                <tbody>
                <tr th:each="film : ${films}">
                    <td class="order">#</td>
                    <td class="title"><a th:text="${film.title}" th:href="@{'/film/'+${film.filmId}}" style="color: rgb(51,119,170);text-decoration-line: none"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<!--    <footer style="    width: 45%;-->
<!--    height: 8%;-->
<!--    margin-top: 50px;-->
<!--    margin-left: 17%;-->
<!--    margin-right: 30%;-->
<!--    text-align: center;">-->
<!--        <hr>-->
<!--        <span style="font-size: 12px;margin-top: 0;">CopyRight</span>-->
<!--    </footer>-->

</body>