
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>注册界面</title>
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <script>
        // 以下代码借鉴 https://blog.csdn.net/xiongqiangwin1314/article/details/47864653?utm_medium=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-2.edu_weight&depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-2.edu_weight

        function setBodyWidth(){
            var barWidthHelper=document.createElement('div');
            barWidthHelper.style.cssText="overflow:scroll; width:100px; height:100px;";
            document.body.appendChild(barWidthHelper);
            var barWidth=barWidthHelper.offsetWidth-barWidthHelper.clientWidth;
            document.body.removeChild(barWidthHelper);
            var bodyWidth=window.screen.availWidth-barWidth;
            return bodyWidth;
        }

        $(document).ready(
            function(){
                var bodyWidth=setBodyWidth()+"px";
                //document.body.style.width=bodyWidth;
                $("body").css("width",bodyWidth);
            }
        );

        // 以上代码借鉴 https://blog.csdn.net/xiongqiangwin1314/article/details/47864653?utm_medium=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-2.edu_weight&depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-2.edu_weight

    </script>
</head>

<body>

<div id="login-box">
    <h1 style="color: #ffffff;">注册</h1>
    <form class="form" method="post">

        <div class="item" th:if="${valid!=0}">
            <i class="fa fa-user-circle" style="color: #ffffff;"></i>
            <input type="text" name="username" placeholder="Username" style="color: #ffffff;"><br>
        </div>
        <div class="item" th:if="${valid!=0}">
            <i class="fa fa-key" aria-hidden="true" style="color: #ffffff;"></i>
            <input type="password" name="password" class="password" placeholder="Password"><br>
        </div>
        <br>
        <br>

        <div class="btn-container" th:if="${valid!=0}">
            <input id="login-button" type="submit" value="注册"  >
        </div>

        <div class="item" th:if="${valid!=0}" style="float: right;margin-top: 14px;">
            <a th:href="@{/main}"> 进入主页</a>
            <a th:href="@{/login/login_page}">登录</a>
        </div>




        <div class="item" th:if="${valid!=4}">
            <div th:if="${valid==1}" style="clear: left;">
                <div class="login-fail-status" >
                    <span >用户名已存在</span>
                </div>
            </div>

            <div th:if="${valid==3}" style="clear: left;">
                <div class="login-fail-status" >
                    <span >存在非法字符</span>
                </div>
            </div>

            <div th:if="${valid==2}" style="clear:left;">
                <div class="login-fail-status">
                    <span>请输入合法的用户名密码，用户名2到20位，密码8到20位且要包含大写字母和数字</span>
                </div>
            </div>

            <div th:if="${valid==0}">
                    <div class="login-success-status">
                        <span th:text="注册成功，欢迎您"></span>
                    </div>
                <br/><br/><br/>
                <a th:href="@{/login/login_page}" style="color: rgb(51, 119, 170);">
                    点击登录
                </a>
            </div>
        </div>
    </form>

</div>


</body>
</html>
