<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link th:href="@{/css/regist.css}" type="text/css" rel="stylesheet">
</head>

<body>

<div class='gcs-regist'>
    <div class="gcs-regist-panel" >
        <form method="post" th:unless="${users!=null and #lists.size(users)==0}"> <!--除非查询过用户名且用户名有效，否则仍然显示表单(users是已经存在的用户名,user代表新注册的用户)-->
            <div class="regist-title">
                <h2>用户注册</h2>
            </div>
            <div class="gcs-regist-container">
                <input type="text" class="input" placeholder="请输入账号" name="username"/>
            </div>
            <div class="gcs-regist-container">
                <input type="password"  class="input" placeholder="请输入密码" name="password"/>
            </div>
            <div class="gcs-regist-container">
                <div class="gcs-regist-validation">
                    <input type="text"  class="input validation-input" placeholder="请输入验证码" name="validation"/>
                    <img class="validation-img" th:src="${img_no}" title="看不清楚？刷新重试">
                </div>
            </div>
            <br />
            <br />
            <div class="gcs-regist-container">
                <input type="submit" value="立即注册" class="btn-regist" />
            </div>
        </form>

        <div  th:if="${users!=null}"> <!--查询过用户名-->
            <div class="gcs-regist-container" th:if="${#lists.size(users)>0}"> <!--用户名已经存在，无效-->
                <div class="regist_fail_status">
                    <span >用户名已经存在</span>
                </div>
            </div>
            <div class="gcs-regist-container" th:if="${#lists.size(users)==0}"> <!--用户名有效-->

                    <div class="regist_success_status">
                        <span th:text="'注册成功，欢迎您 '+${user.username}"></span>
                    </div>

                <br/><br/><br/>
                <a href="/login/login_page" >
                    <button class="btn-regist">
                        登录
                    </button>
                </a>
                <a href="/login/regist_page">
                    <button class="btn-regist"></button>
                </a>

            </div>
        </div>


    </div>


</div>

</body>
</html>